{% load static %}

<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'orders/style1.css' %}">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light mb-5">

            <a href="{% url 'orders:index' %}" class="navbar-brand">Pinocchio's Pizza & Subs</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'orders:index' %}">Menu</a>
                    </li>

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders:shopping_cart' %}">Your cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders:order_history' %}">Your history</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders:logout' %}">Log out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders:login' %}">Log in</a>
                        </li>
                    {% endif %}

                </ul>
            </div>

        </nav>

        <div class="container-fluid pt-4">
            {% block body %}{% endblock %}
        </div>



        <footer>
            <div class="container-fluid py-4">
                <div class="row mb-5 justify-content-center">
                    <div class="col-10 text-center">
                        <span>This is a CS50 project. The actual Pinocchio's Pizza & Subss is at this <a href="http://www.pinocchiospizza.net/menu.html">site</a>.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <img id="pinocchio" src="{% static 'orders/images/pinocchio.gif' %}" alt="Pinocchio">
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
